.wrapper {
    border-top: 1px solid #e3e3e4;
}

.label {
    padding: 8px;
    font-weight: 600;
}
.account-item {
    display: flex;
    padding: 8px;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.item-info {
    flex: 1;
    margin-left: 12px;
}

.nickname {
    font-style: 1.6rem;
    color: #161823;
}

.check {
    margin-left: 4px;
    font-style: 1.4rem;
    color: #20d5ec;
}
.name {
    font-style: 1.2rem;
    color: #161823bf;
}
.more-btn {
    font-style: 1.4rem;
    color: #fe2c55;
    padding: 8px;
    font-weight: 700;
    cursor: pointer;
}
