.wrapper {
    display: flex;
    align-items: center;
    padding: 9px 16px;
    cursor: pointer;

    &:hover {
        background-color: rgba(22, 24, 35, 00.03);
    }
}
.avater {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.info {
    flex: 1;
    margin-left: 12px;
}

.name {
    font-size: 1.6rem;
    font-weight: 600;
}

.check {
    margin-left: 7px;
    color: rgb(32, 213, 236);
}

.username {
    font-size: 1.4rem;
    line-height: 1.5;
}
