.wrapper {
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    --search-boder-radius: 92px;
    background-color: var(--white);
}

.inner {
    padding: 0 24px;
    height: 100%;
    display: flex;
    align-items: center;
    width: var(--default-layout-width);
    justify-content: space-between;
}

.logo-link {
    display: flex;
}
//Actions
.action {
    display: flex;
    align-items: center;
}

.action-btn {
    background-color: transparent;
    color: #161823;
    padding: 4px 12px;
    font-size: 2.2rem;
}

.more-btn {
    cursor: pointer;
    font-size: 2rem;
    margin-left: 28px;
    padding: 5px;
    background-color: transparent;
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
}
